<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test Phaser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link href="/master.css" rel="stylesheet" type="text/css">
    <script src="phaser.js"></script>
</head>
<body>
<div id="canvas"></div>
<script src="project.js"></script>
</body>
</html>