<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SHADE OF MYZY : 미지의 그늘</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link href="/master.css" rel="stylesheet" type="text/css">
    <script src="/fontfaceobserver.standalone.min.js"></script>
    <script src="/phaser.min.js"></script>

    <meta property="og:title" content="SHADE OF MYZY : 미지의 그늘">
    <meta property="og:description" content="시공간 너머 어딘가에 있는 미지의 세계, 뜨거운 햇빛을 피해 미지의 나무 그늘을 찾아 떠나는 모험">
    <meta property="og:image" content="./image/meta.png">

</head>
<body>
<div id="canvas"></div>
<script src="/webpack/app.js"></script>
</body>
</html>